[Unit]
Description=Steam stream daemon
After=gnome-session-wayland@gnome.target

[Service]
Type=simple
ExecStart=/usr/local/bin/ssrc

[Install]
WantedBy=graphical-session.target